.dropdown-panel {
  margin-top: 5px;
  padding-left: 20px;
}

.subtitle {
  margin-top: 10px;
  text-align: center;
}

.affix-name-icon {
  display: inline-flex;
}

.affix-name {
  font-size: 20px;
  margin-left: 5px;
}
