.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3880ff;
  border-radius: 50%;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.selected {
  filter: brightness(150%);
}

.transparent {
  opacity: 0.3;
}

.hidden {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 0.5rem;
  background-color: #f2f2f2;
}

td {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.small {
  font-size: 0.8rem;
}

.player-name {
  font-weight: bold;
}

.player-faction {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.horde {
  color: red;
}

.alliance {
  color: blue;
}

ion-select {
  max-width: 500px;
}

ion-img {
  height: 40px;
  width: 60px;
}
