ion-card {
  margin: 20px;
  ion-card-header {
    font-size: 20px;
    font-weight: bold;
  }
  ion-card-content {
    font-size: 16px;
    p {
      margin-top: 10px;
      font-weight: bold;
    }
  }
}

ion-spinner {
  display: block;
  margin: auto;
}
