<ion-header>
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header> WoW Token Price </ion-card-header>
    <ion-card-content>
      <p>
        EU:The current price of the WoW Token is {{ wowTokenPriceEU }} gold.
      </p>
      <br />
      <p>
        US:The current price of the WoW Token is {{ wowTokenPriceUS }} gold.
      </p>
      <br />
      <p>
        KR: The current price of the WoW Token is {{ wowTokenPriceKR }} gold.
      </p>
      <br />
      <p>
        TW: The current price of the WoW Token is {{ wowTokenPriceTW }} gold.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
